<div class="master">
    <h4 class="Reviews" style="margin-left: 14px;margin-bottom: 20px">Create Reviews</h4>
    <hr  width='90%' style="margin-left: 14px;" > 
    <div class='merge'><img id='img'src='<%= jsonResponse.data.product_info.image %>' width='150px' height='150px'>
    <p id='name' name='name' style='width:350px;margin-left: 18px;margin-bottom: 40px;'><%= jsonResponse.data.product_info.name %></p></div>
    <hr  width='90%' style="margin-left: 14px;" > 
    <p class="parag paragRating">Your Rating</p>
    <div class='rateYo2' style="margin-bottom: 20px">
        <div id='rateYo2'>
    </div>
</div>
<div class='rateYo2' style="margin-bottom: 20px">
    <div id='rateYo3'>
</div>
</div>
    <hr  width='90%' style="margin-left: 14px;" > 
    <div class="div_parag"><p class="parag">add the photo</p></div>
    <div class='fatherphoto'><div class='photo'><label id="label" for='firstimg'><i class='fa fa-camera' style='margin-top:70px;font-size:78px;color:rgb(211, 210, 210);cursor: pointer;'></i>
    <p style='width:130px;color:#80aaff;cursor: pointer;'>Browse to find or drag image here</p>
    <input type='file' name='file' id='firstimg' class='inputimg' accept='image/*' style='display: none;' multiple></label>
    </div>
    <div class="flex-image">
        <div id="display_image" style="margin-top: 20px;"></div>
    </div>
    <hr id="hrr" width='90%' style="display: none;"> 
    <div class="div_paragYour"><p class="paragYour" style="margin-top: 24px;">Your review about the product</p></div>
    <div class='hidden2' id='textarea'><textarea onkeyup='fun(this)' class='hidden1' id='textareaa'
    placeholder='What did you like or dislike? what did you use this product for?' rows='6' cols='40'></textarea>
    <div class="div_points"><p  style='font-size:23px;margin-top:30px;opacity:0.5;'><span id='points'>15</span> word/s left to get 25 points</p></div>
    </div>
    <div class="container"><input onclick='runpost()' onclick='uploadFile()' type='button' class='button' value='Submit Review'>
    </div>
    
    <input id='hidden' type='hidden' value='<%= hiddenval %>'>
</div>
<script>
    var count = 0 ;
    $("#firstimg").on("change", function() {
        $("#hrr").show()
    count++;
                 var uploaded_image = "";
                     const reader = new FileReader();
                     reader.addEventListener("load",() =>{
                        uploaded_image = reader.result;
                    var vrr= `url(${uploaded_image})`
                    $("#display_image").append("<div class='div_flex div_flex"+count+"'><div style='width:30%;'>"+
                        "<div class='button1' style='width: 338%;height: 27px;background-color:#F5F5F5;'>"+
                        "<button style='background-color:white;' type='button' class='btn-close button-close' data-bs-dismiss='toast' aria-label='Close'  onclick='exi("+count+")'>"+
                        "</button></div></div>"+
                        "<div class='divv' id='div"+count+"'></div></div>")                   
                    document.querySelector("#div"+count+"").style.backgroundImage = vrr;
                    
                 });
                     reader.readAsDataURL(this.files[0]);
               });
    </script>