.master{
  margin: auto;
  width: 50%;
  /* background-color:rgb(180, 182, 184); */
  margin-bottom: 100px;
  margin-top: 20px;
}
.merge{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 14px;
}
.parag{
  font-weight:400 ;
  font-size: 20px;
  margin-left: 14px;
}
.paragYour{
  font-weight:400 ;
  font-size: 20px;
position: relative;
top: 15px;
}
.photo{
  height: 277px;
  border: 1px solid rgb(211, 210, 210);
  width:90%;
  text-align: center;
}
.fatherphoto{
  margin-left: 14px;
}
textarea{
  resize: none;
  font-size: 22px;
  opacity: 0.5;
  padding: 25px;
  width: 90%;
  margin-top: 10px;
}
.hidden2{
  margin-top: 20px ;

 
}
.hidden2 p{
  margin-right: 12%;
}
.button {
  background-color: #ff3399;
  border: none;
  color: white;
  padding: 12px 32px;
  width: 370px;
  border-radius:17px;
  margin-top: 40px;
  position: absolute;
  left: 47%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
.container { 
  position: relative;
}

#rateYo3{
  display: none;
}
.divv{
  float: left;
  width: 405px;
  height: 200px;
  background-position: center;
  background-size: cover;
}
#hrr{
  display: none;
 position: relative;
 top:20px; 
}
@media screen and (max-width:1610px){
.master{
    width: 100%;
  }
hr{
    display: none;
  }
.merge{
    margin-bottom: 20px;
  }
.paragRating{
    display: none;
  }
textarea{
    width: 99%;
  }
.photo{
    width: 99%;
  }
.imgres{
    display: none;
  }
.merge{
    display: flex;
    justify-content: center;
  }
.rateYo2{
    display: flex;
    justify-content: center;
  }
.Reviews{
    text-align: center;
    margin-right: 310px;
  }
#rateYo2{
    display: none;
  }
#rateYo3{
    display: block;
  }
}