*{
    box-sizing: border-box;
}
img{
    float: left;
}
.divv{
    width: 34%;
    height: 880px;
    float: left;
    padding: 20px;
}
.divleft{
    width: 8%;
    background-color: black;
    height:93.6vh;
    float: left;
}
.divright{
    width: 8%;
    background-color: black;
    height:93.6vh;
    float: left;
}
.divtop{
    display: none;
}
.divdown{
    display: none;
}
.imgprodcut{
    width:50%;
    height:93.6vh;
}
.button-close{
   float: right;
   margin: 12px;
}

.button2 i{
    margin-top: 5px;
}
.button2{display: none;}
.button2 span{
position: relative;
bottom: 4px;
left: 5px;
}

@media screen and (max-width:1400px){ 
   
    .divv{            
        display: none;
    }

     #verified{
        display: none;
    }

    img{
        width: 100%;
    }

    .divleft{
        display: none;
    }

    .divright{
        display: none;
    } 

    .divtop{
        display: block;
        width: 100%;
        background-color: black;
        height:100px;
        float: left;
    }

    .divdown{
        display: block;
        width: 100%;
        background-color: black;
        height:100px;
        float: left;
    }
    
    .imgprodcut{
        height:  76.9vh;
        width: 100%;
        float: left;
        
    }
    .button2{
        display: block;
    }
    .button1{
        display: none;
    }
}