<div class="button"><div style='margin-top: 25px;'><p style='float: left;margin:0 7px 0 0;font-size: 21px;'><%= length %> Stars </p>
<div id='rateYo1<%= i %>' style='float:left;'></div>
<p style='float: left;margin:0 0 0 7px;font-size: 21px;'><%= number_of_reviews %>  Reviews</p><br></div>
         