<div class='div-left' style="margin-left: 22px;">
<b style='margin:0 0 10px 8px;'><span id='Customer'>Customer</span> Reviews</b><br>
<div id='rateYo2' style='float: left;margin-top:2px'></div>
<p style='float:left; margin: 10px 0 0 5px;font-size: 20px;'><%= jsonResponse.data.average_product_rating.reviews_avg %> out 5</p>
<br><br><p class='down' style='opacity: 0.5;font-size: 20px;margin-left: 8px;'><%= jsonResponse.data.average_product_rating.num_of_reviews %> customer ratings</p>
